<div class="geneDetail-page" ng-controller="geneDetailController" ng-init="InitPage()">
    <div class="report-page-title" custom-title="title"></div>
    <div id="div_geneDetail_page">
        <h5>基因信息</h5>

        <div ng-if="projectType == 'RNAref' || 'RNAseq'">
            <p>
                <span>Gene ID22： </span>
                <span>1246500-222</span>
            </p>
        </div>

        <div ng-if="projectType =='RNAdenovo'">
            <p>
                <span>Gene ID： </span>
                <span>1246500</span>
            </p>
        </div>

        <!-- 表达量信息 表 -->
        <div class="table_scroll_wrap" id="expressTable_panel">
            <table ng-hide="expressTableError" class="table table-bordered table-hover table-striped table_grid table-fixed">
                <thead>
                    <tr>
                        <th ng-repeat="item in tableData.baseThead track by $index" style="max-width:500px;white-space:nowrap;">
                            <div uib-tooltip="{{item.hover}}" class="grid_head thead-center">{{::item.name}}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tableData.rows track by $index">
                        <td class="center" ng-repeat="val in tableData.baseThead track by $index">
                            <span ng-if="row[val.true_key] || row[val.true_key]==0">{{row[val.true_key]}}</span>
                            <span ng-if="!row[val.true_key] && row[val.true_key]!=0">—</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-nodata" error-type="expressTableError" style="border-top: 1px solid #ddd"></div>
        </div>

    </div>
</div>