<div class="myAnalysis-page" ng-init="InitPage()" ng-controller="myAnalysisController">
    <div class="report-page-title" custom-title="我的分析"></div>
    <div class="tools-analysis-panel tableListPanel" id="myanalysis-table">
        <p class="title">我的分析</p>
        <div class="btns clearfix">
            <button class="btn-advance btn-tools btn-tools-default pull-right" ng-class="{'active': isFilter}" ng-click="handlerAdvanceClick($event)">advance</button>
            <!-- filter panel -->
            <div class="advance-panel" ng-show="isFilter">
                <ul ng-click="handlerFilterPanelClick($event)">
                    <li>
                        <span class="advance-title">提交时间</span>
                        <ol class="date">
                            <li>
                                <datepicker date-format="yyyy-MM-dd">
                                    <input ng-model="analysisEntity.searchContent.timeStart" type="text" placeholder="/年/月/日" readonly/>
                                </datepicker>
                            </li>
                            <li>
                                <datepicker date-format="yyyy-MM-dd">
                                    <input ng-model="analysisEntity.searchContent.timeEnd" type="text" placeholder="/年/月/日" readonly />
                                </datepicker>
                            </li>
                        </ol>
                    </li>
                    <li ng-repeat="item in advanceParams track by $index">
                        <span class="advance-title" ng-repeat="(key,val) in item">{{key}}</span>
                        <ol ng-repeat="(key,val) in item">
                            <li ng-repeat="i in val" ng-click='handlerParamsClick(i)' ng-class="{'active':i.isActive}">{{i.name}}</li>
                        </ol>
                    </li>
                </ul>
                <!-- btn -->
                <button class="btn btn-success pull-right" ng-click="handlerFilterClick()">筛选</button>
            </div>
            <div class="filter pull-right">
                <input placeholder="关键字筛选">
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div>
            <div class="table_scroll_wrap" style="overflow:visible;">
                <table ng-show="!analysisError" class="table table-bordered table-hover table-striped table_grid table-fixed custom-table">
                    <thead>
                        <tr>
                            <th class="text-center">项目</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">提交时间</th>
                            <th class="text-center">前置任务</th>
                            <th class="text-center">备注</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in analysisList.rows track by $index">
                            <td class="text-center" ng-bind="item.projectName"></td>
                            <td class="text-center">
                                <span ng-if="item.process==1">成功</span>
                                <span ng-if="item.process==-1">进行中，剩余:{{item.restTime}}</span>
                                <span ng-if="item.process==0">失败</span>
                            </td>
                            <td class="text-center" ng-bind="item.time"></td>
                            <td class="text-center">
                                <div class="links">
                                    <span>{{item.links.length}}
                                        <ul ng-if="item.links.length" class="link-lists">
                                            <li handlerSeeClick(item.process,item.id,item.chartType) ng-repeat="item in item.links">
                                                <p>类型：{{item.chartType}}</p>
                                                <p>项目名称：{{item.projectName}}</p>
                                            </li>
                                        </ul>
                                    </span>

                                </div>
                            </td>
                            <td class="text-center">{{item.remark}}</td>
                            <td class="text-center">
                                <button ng-if="item.process==1 || item.process==0" class="btn-tools btn-tools-primary" ng-click="handlerSeeClick(item.process,item.id,item.charType)">查看</button>
                                <span ng-if="item.process==-1" >--</span> 
                                <button ng-if="item.process!=-1" class="btn-tools btn-tools-warning" ng-click="handlerDeleteClick(item.id)">删除</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!-- error -->
                <div style="width:100%;" class="table-nodata" error-type="analysisError"></div>
                <!-- Page grid -->
                <div ng-hide="analysisError" class="pager-grid" grid-data="analysisList" side="left " callback="GetAnalysisList(arg1) "></div>
            </div>
        </div>
    </div>
</div>
</div>