<div class="myAnalysis-page" ng-init="InitPage()" ng-controller="myAnalysisController">
    <div class="report-page-title" custom-title="我的分析"></div>
    <div class="tools-analysis-panel tableListPanel" id="myanalysis-table">
        <p class="title">我的分析</p>
        <div class="btns clearfix">
            <button class="btn-advance btn-tools btn-tools-default pull-right" ng-class="{'active': isFilter}" ng-click="handlerAdvanceClick($event)">advance</button>
            <!-- filter panel -->
            <div class="advance-panel" ng-show="isFilter">
                <ul  ng-click="handlerFilterPanelClick($event)">
                    <li>
                        <span class="advance-title">提交时间</span>
                        <ol class="date">
                            <li>
                                <datepicker date-format="yyyy-MM-dd HH-SS-MM">
                                    <input ng-model="timeStart" type="text" placeholder="/年" readonly/>
                                </datepicker>
                            </li>
                            <li>
                                <datepicker date-format="yyyy-MM-dd">
                                    <input ng-model="timeEnd" type="text" placeholder="/年" readonly />
                                </datepicker>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <span class="advance-title">类型</span>
                        <ol>
                            <li>聚类图</li>
                            <li>韦恩图</li>
                            <li>GO</li>
                            <li>韦恩图</li>
                            <li>GO</li>
                        </ol>
                    </li>
                    <li>
                        <span class="advance-title">状态</span>
                        <ol>
                            <li>成功</li>
                            <li>失败</li>
                            <li>运行中</li>
                            <li>排队中</li>
                        </ol>
                    </li>
                </ul>
                <!-- btn -->
                <button class="btn btn-success pull-right" ng-click="handlerFilterClick()">筛选</button>
            </div>
            <div class="filter pull-right">
                <input placeholder="关键字筛选">
                <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div>
            <div class="table_scroll_wrap">
                <table ng-show="!analysisError" class="table table-bordered table-hover table-striped table_grid table-fixed">
                    <thead>
                        <tr>
                            <th>项目</th>
                            <th>状态</th>
                            <th>链路</th>
                            <th>提交时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in analysisList.rows track by $index">
                            <td ng-bind="item.projectName"></td>
                            <td ng-bind="item.process"></td>
                            <td>链路</td>
                            <td ng-bind="item.time"></td>
                            <td>
                                <button class="btn-tools btn-tools-primary" ng-click="handlerSeeClick(item.id,item.charType)">查看</button>
                                <button class="btn-tools btn-tools-warning" ng-click="handlerDeleteClick(item.id)">删除</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!-- error -->
                <div style="width:100%;" class="table-nodata" error-type="analysisError"></div>
                <!-- Page grid -->
                <div ng-hide="analysisError" class="pager-grid" grid-data="analysisList" side="left " callback="GetAnalysisList(arg1) "></div>
            </div>
        </div>
    </div>
</div>
</div>