<!DOCTYPE html>
<html lang="zh-CN" ng-controller="loginController" ng-init="InitPage()">

<head>
    <title ng-bind="pageTitle"></title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link href="../../res/scripts/lib/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../res/scripts/lib/angular/ng-dialog/0.5.0/ngDialog.css" rel="stylesheet" type="text/css" />
    <link href="../../res/styles/website.css" rel="stylesheet" type="text/css" />
    <link href="./res/login.css" rel="stylesheet" type="text/css" />
    <link ng-if="env==='bgi'" rel="icon" href="../../res/images/favicon.ico" type="image/x-icon">
    <link ng-if="env!=='bgi'" rel="icon" href="../../res/images/favicon-gooal.ico" type="image/x-icon">
    <script src="../../res/scripts/lib/requirejs/2.1.20/require.min.js" defer data-main="loginMain.js"></script>
    <script ng-if="env==='bgi'" src="../../res/scripts/super/baiDuTongJi.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?56ff35f8be0e46fbd076bcb9a086eff1";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();

        document.addEventListener('DOMMouseScroll', function(event) {
            if (event.ctrlKey === true || event.metaKey) {
                event.preventDefault();
            }
        }, false);

        document.addEventListener('mousewheel', function(event) {
            if (event.ctrlKey === true || event.metaKey) {
                event.preventDefault();
            }
        }, false);

        document.addEventListener('keydown', function(event) {
            if ((event.ctrlKey === true || event.metaKey === true) &&
                (event.which === 61 || event.which === 107 ||
                    event.which === 173 || event.which === 109 ||
                    event.which === 187 || event.which === 189)) {
                event.preventDefault();
            }
        }, false);
    </script>
</head>

<body ng-cloak>
    <div class="main">
        <ul class="main_ul">
            <li class="content content1">
                <div class="bgi_top">
                    <ul class="logo_ul logo_gooal">
                        <li>
                            <img style="height:100%;" src="./res/images/index_logo_gooal.png" />
                        </li>
                    </ul>
                    <ul class="logo_ul logo_bgi">
                        <li>
                            <img src="./res/images/index_logo.png" class="index" />
                        </li>
                        <li>
                            <i class="xian"></i>
                        </li>
                        <li>
                            <img src="./res/images/dr.tom.png" class="drTom" />
                        </li>
                    </ul>
                    <ul class="setUp">
                        <li ng-if="env==='bgi'">帮助</li>
                        <li ng-if="env==='bgi'" class="nav-concat">联系我们</li>
                        <li ng-style="{'float':'{{env!='bgi'?'right':'left'}}'}">
                            <button class="loginBtn">登录</button>
                        </li>
                    </ul>
                    <div style="clear:both"></div>
                </div>
                <div class="bgi_conter">
                    <ul class="bgi_conter_ul">
                        <li class="bgi_conter_li">
                            <div class="bgi_conter1_flex">
                                <p class="bgi_conter1_p1">自由、便捷、深度的数据挖掘</p>
                                <p class="bgi_conter1_p2">Customizable , flexible and professional data mining</p>
                                <div class="bgi_conter1_p3">
                                    <button class="bgi_conter1_btn loginBtn">登录</button>
                                </div>
                            </div>
                        </li>
                        <li class="bgi_conter_li">
                            <img src="./res/images/macbook.png" class="macbook" />
                        </li>
                    </ul>
                </div>
            </li>
            <li class="content bgi_content">
                <div id="productContent">
                    <!--banner 第一页-->
                    <div class="banner_teb content_two content_two_a">
                        <div class="bgi_conter">
                            <ul class="bgi_conter_ul">
                                <li class="bgi_conter_li">
                                    <div class="bgi_conter_left ">
                                        <ul class="bgi_conter_div">
                                            <li class="bgi_conter_tit1">BGISEQ-500</li>
                                            <li class="bgi_conter_tit2">A BGI Sequencer</li>
                                            <li class="bgi_conter_tit3">一代测序，新一代体验</li>
                                        </ul>
                                        <ul class="bgi_conter_div2">
                                            <li>
                                                <i class="dian"></i>高质量的数据产出，≥85% 的数据高于 Q30 标准</li>
                                            <li>
                                                <i class="dian"></i>一站式操作流程，人性化操作指引</li>
                                            <li>
                                                <i class="dian"></i>多种读长模式，双芯片平台独立运行</li>
                                            <li>
                                                <i class="dian"></i>配套可选的 MGISP-100 自动化样本制备系统，全面优化建库操作</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="bgi_conter_li">
                                    <img src="./res/images/bg3.png" class="macbook2" style="height:100%;" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--banner 第二页-->
                    <div class="banner_teb content_two content_two_b smask">
                        <div class="bgi_conter">
                            <ul class="bgi_conter_ul">
                                <li class="bgi_conter_li">
                                    <img src="./res/images/bg5.png" class="macbook3" style="height:100%;" />
                                </li>
                                <li class="bgi_conter_li">
                                    <div class="bgi_conter_right">
                                        <ul class="bgi_conter_div">
                                            <li class="bgi_conter_tit1">MGISEQ-2000</li>
                                        </ul>
                                        <ul class="bgi_conter_div2">
                                            <li>
                                                <i class="dian"></i>扩增错误零累积，高精准碱基连读</li>
                                            <li>
                                                <i class="dian"></i>4种读长支撑，满负荷 PE100 运行仅需 48 小时</li>
                                            <li>
                                                <i class="dian"></i>双芯片平台独立运行，两种规格芯片自由选择</li>
                                            <li>
                                                <i class="dian"></i>加载系统内置，一站式简洁操作</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul id="productNav">
                    <li class="current"></li>
                    <li></li>
                </ul>
            </li>
            <li class="content concat-wrap bgi_content" style="background:#fff;">
                <div class="login_footer">
                    <div class="contactUs">
                        <p class="contactUs_tit">
                            <span class="index_yuanq">
                                <img src="./res/images/index_yuanq.png" />
                            </span>联系我们</p>
                        <ul class="contactUs_ul" style="width:1020px; ">
                            <li>
                                <img src="./res/images/index_mailbox.png" />
                                <p>bgi-report@bgi.com</p>
                            </li>
                            <li>
                                <img src="./res/images/index_address.png" />
                                <p>深圳市盐田区洪安三街 21 号华大综合园 7 栋</p>
                            </li>
                            <li>
                                <img src="./res/images/index_telephone.png" />
                                <p>0755-36307094</p>
                            </li>
                        </ul>
                    </div>
                    <div class="friendshipLink">
                        <p class="friendshipLink_tit">
                            <span class="index_yuanq">
                                <img src="./res/images/index_yuanq.png" />
                            </span>友情链接</p>
                        <ul class="friendshipLink_ul" style="width:1020px;">
                            <li>
                                <a href="http://www.bgitechsolutions.com " target="_blank"><img src="./res/images/friendshipLink1.png" /></a>
                            </li>
                            <li>
                                <a href="https://www.bgi.com " target="_blank"><img src="./res/images/friendshipLink2.png" /></a>
                            </li>
                            <li>
                                <a href="http://www.mgitech.cn" target="_blank"><img src="./res/images/friendshipLink3.png" /></a>
                            </li>
                        </ul>
                    </div>
                    <div class="QRCode">
                        <img src="./res/images/QRCode.png" class="QRCode_img" />
                        <p class="QRCode_con">扫一扫，关注我们</p>
                    </div>
                    <div class="ftCon"> CopyrightⒸ BGI all rights reserved. 粤ICP备16021117号</div>
                </div>
            </li>
        </ul>

        <div class="mengc"></div>

        <div class="login" id="login">
            <div class="login_close">
                <img src="./res/images/login_close.png" />
            </div>
            <h4 class="login-title" ng-if="env!=='bgi'">账号密码登陆</h4>
            <div ng-if="env==='bgi'" class="login_logo">
                <img src="./res/images/dr.tom.png" />
            </div>
            <form name="myForm1" novalidate="novalidate">
                <div class="login_main">
                    <div class="login_sum">
                        <img src="./res/images/userName.png" class="userName_img" />
                        <input ng-keyup="handlerKeyUp($event)" type="text" placeholder="请输入用户名" name="lcid" class="login_userName input_user" ng-model="formEntity.LCID" required />
                    </div>
                    <div class="login_sum">
                        <img src="./res/images/password.png" class="password_img" />
                        <input ng-keyup="handlerKeyUp($event)" type="password" name="lcpwd" class="login_password input_pass" ng-model="formEntity.Password" required placeholder="请输入密码" />
                    </div>

                    <div class="login_sum">
                        <img src="./res/images/verificationCode.png" class="verificationCode" />
                        <input ng-keyup="handlerKeyUp($event)" type="text" name="code" placeholder="请输入验证码" ng-model="formEntity.code" required class="verificationCodeInput input_pass" style="width:194px;" />
                        <div class="verificationCode_img">
                            <img ng-src="{{UUIDurl}}/checkImg?uuid={{uuid}}" ng-click="renovate()" alt="验证码" id="imgcode" class="yzm" />
                            <input type="text" name="uuid" value="{{uuid}}" ng-model="formEntity.UUID" style="display: none;" />
                        </div>
                    </div>
                    <div class="login_error" ng-show="resError" ng-class="{'shake':resError}">
                        {{resError}}
                    </div>
                    <div class="signIn">
                        <button id="btn_memberLogin" type="button" ng-click="btn_lcLogin_OnClick()" class="btn btn-info btn-block btn_submit" ng-disabled="myForm1.lcid.$error.required || myForm1.lcpwd.$error.required || myForm1.code.$error.required" ng-bind="lcLoginText">
                            请稍后，正在加载...
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="login" id="noChrome">
            <div class="login_close">
                <img src="./res/images/login_close.png" />
            </div>
            <div class="login_logo">
                <img ng-if="env==='bgi'" src="./res/images/dr.tom.png" />
                <img width="200" ng-if="env!=='bgi'" src="./res/images/index_logo_gooal.png" />
            </div>
            <p>为了给您良好的用户体验</p>
            <p>强烈建议使用 <a href="https://www.google.cn/chrome/" target="_blank">Chrome</a> 浏览器</p>
            <div style="height: 40px;"></div>
            <div class="login_close">
                <a class="btn btn-default pull-right" id="cancelLogin">取消</a>
            </div>
            <a class="btn btn-default pull-right" id="continueLogin">继续登录</a>
        </div>

    </div>
</body>

</html>