#d4-chart-tooltip-wrap{
    z-index:9999999999;
}
.tools-body.page_report {
    padding: 40px 100px;
}

.tools-analysis-panel {
    border: 1px solid #E8E8E8;
    margin-top: 40px;
    padding-top: 0!important;
}

.tools-analysis-panel .title {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 60px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 0;
}

.tools-analysis-panel .keywordInput {
    background: #FFFFFF;
    border-radius: 2px;
    width: 175px;
    height: 32px;
    border: 1px solid #DFE3F2;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    padding-left: 27px;
}

.tools-analysis-panel .keywordInput:focus {
    border-color: #5378F8;
}

.tools-analysis-panel .analysis-content {
    padding: 20px;
    border: 1px solid #DFE3F2;
}

.tools-analysis-panel .table-striped {
    border: 1px solid #DFE3F2;
    border-radius: 0 0 2px 2px;
    border-bottom: 0;
}

.tools-analysis-panel .table-striped tr th,
.tools-analysis-panel .table-striped tr td {
    height: 40px;
    border: 0;
}

.tools-analysis-panel .table-striped tr td i {
    font-size: 14px;
    padding-right: 6px;
}

.tools-analysis-panel .table-striped tr td i.icon-shibai {
    color: #F04848;
}

.tools-analysis-panel .table-striped tr td i.icon-wancheng {
    color: #63D359;
}

.tools-analysis-panel .table-striped tr td i.icon-yunhangzhong1 {
    color: #32AAFF;
}

.tools-analysis-panel .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #FAFAFA;
}

.tools-analysis-panel .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.tablePanel {
    padding: 20px;
    padding-top: 0;
}

.btns {
    padding: 12px 20px;
    position: relative;
}

.btn-tools {
    cursor: pointer;
    padding: 4px 12px;
    font-size: 12px;
    border: 1px solid #DFE3F2;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-left: 12px;
}

.btn-tools.btn-tools-default {
    background-color: #FFFFFF;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    width: 116px;
    height: 32px;
}

.btn-tools.btn-tools-primary {
    border: none;
    background-color: #5378F8;
    color: #FFFFFF;
    opacity: 0.6;
}

.btn-tools.btn-tools-warning {
    border: none;
    background-color: #F04848;
    color: #FFFFFF;
    opacity: 0.6;
}

.btn-tools.btn-tools-primary:hover,
.btn-tools.btn-tools-warning:hover {
    opacity: 1.0;
}

.btn-tools.btn-tools-default:hover,
.btn-tools.btn-tools-default.active {
    color: #FFFFFF;
    background-color: #666666;
}

.tools-body .table_grid.custom-table thead th {
    background: none;
    background-color: #FAFAFA;
    color: #BCC0CD;
}

.table-hover>tbody>tr:hover {
    background-color: #EBF5FD!important;
}

.filter {
    position: relative;
    height: 27px;
}

.filter input {
    height: inherit;
    font-size: 14px;
    line-height: 27px;
    outline: none;
    padding: 0 24px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: .3s all ease;
    border-radius: 2px;
}

.filter input:focus {
    border-color: #666666;
}

.filter .search {
    position: absolute;
    left: 4px;
    top: 10px;
    font-size: 14px;
    color: #333;
    padding-left: 6px;
}

.filter .remove {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -4px;
    font-size: 12px;
    color: #ccc;
    display: none;
    opacity: .6;
    cursor: pointer;
}

.filter .remove:hover {
    opacity: 1.0
}

.advance-panel {
    position: absolute;
    top: 56px;
    right: 20px;
    padding: 18px;
    width: 408px;
    height: 256px;
    border: 1px solid #E8E8E8;
    background-color: #FFFFFF;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(183, 199, 255, 0.30);
    border-radius: 2px;
}

.advance-panel ul>li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: #99A1BF;
    letter-spacing: 0;
}

.advance-panel ul>li span {
    width: 74px;
}

.advance-panel ul>li ol {
    flex: 1;
}

.advance-panel ul>li ol:after {
    content: "";
    display: block;
    clear: both;
}

.advance-panel ul>li ol li {
    float: left;
    padding: 1px 6px;
    border: 1px solid #E8E8E8;
    margin-right: 10px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 2px;
    color: #99A1BF;
    text-align: center;
    width: 80px;
    height: 24px;
    transition: 0.3s all ease;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
}

.advance-panel ul>li ol li.active,
.advance-panel ul ol.date li input:focus {
    background: #F0F1F5;
    border: 1px solid #F0F1F5;
    border-radius: 2px;
    color: #333333;
}

.advance-panel ul>li ol li:hover {
    background: #F0F1F5;
    border: 1px solid #F0F1F5;
    border-radius: 2px;
    color: #333333;
}

.advance-panel ul>li:first-child ol li {
    width: 120px;
}

.advance-panel ul ol.date li {
    padding: 1px 0;
    width: auto;
    border: none;
}

.advance-panel ul ol.date li input {
    padding-left: 6px;
    height: 30px;
    line-height: 30px;
    width: 120px;
    font-size: 12px;
    color: #99A1BF;
    letter-spacing: 0;
    background: #FFFFFF;
    border: 1px solid #F0F1F5;
    border-radius: 2px;
}

.advance-panel button {
    line-height: 16px;
    background: #97aefb;
    border-radius: 2px;
    width: 96px;
    height: 32px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    border: none;
}

.advance-panel button:hover,
.advance-panel button:focus,
.advance-panel button:active {
    background: #5378F8;
    color: #FFFFFF;
    border: none;
}

.advance-panel button.reSet {
    background: #f69191;
}

.advance-panel button.reSet:hover,
.advance-panel button.reSet:focus,
.advance-panel button.reSet:active {
    background: #f04848;
    border: none;
}

.editProject,
.editRemark {
    position: relative;
}

.editProject i,
.editRemark i {
    position: absolute;
    right: -2px;
    top: 12px;
    font-size: 12px;
    margin-left: 6px;
    visibility: hidden;
}

.editProject:hover i,
.editRemark:hover i {
    visibility: visible;
}

.editProject>span,
.editRemark>span {
    max-width: calc(100% - 18px);
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.editProject>input {
    text-align: center;
    width: calc(100% - 40px);
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #DFE3F2;
    height: 25px;
}

.editRemark>input {
    text-align: center;
    width: calc(100% - 40px);
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #DFE3F2;
    height: 25px;
}


.btn-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
}

.btn-links:hover ul {
    display: block;
}

.btn-links li p {
    white-space: normal;
}

.btn-links ul {
    left: calc(-360px + 100%);
    top: 30px;
}

.page_report .alert-default span {
    line-height: 2;
}

.report-page-title h2 {
    background: #5378F8!important;
    color: #FFFFFF;
    border-radius: 2px!important;
    text-align: center;
}

.report-page-title h2 span {
    font-size: 24px!important;
}

.tooltip {
    text-indent: 0!important;
}

/* help page */
.help-page{
    position: relative;
    padding: 0 40px;
}
.help-page p{
    font-size: 14px!important;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.7!important;
    padding-left: 40px;
    margin-bottom: 0!important;
    text-indent:0!important;
}
.help-page p .mask{
    padding:0 2px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}
.help-page p.big{
    font-size: 24px!important;
    line-height: 1.4!important;
}
.help-page .mb{
    margin-bottom: 64px;
}
p.help-title{
    font-size: 18px!important;
    color: #333333;
    letter-spacing: 0;
    line-height: 1.5!important;
    font-weight:bold;
    text-indent: 0!important;
    padding-left:20px;
    margin-bottom: 0!important;
    min-width: 880px;
    margin-top: 36px!important;
}
.help-title .kfz_class{
    color: red;
    font-size: 12px;
    margin-left: 12px;
}
.help-page p.help-sub-title{
    padding-left: 20px!important;
}
.help-page img{
    display: block;
    margin:36px auto;
    max-width: 100%;
    max-height: 100%;
}
.help-page p.indent4{
    padding-left: 60px!important;
}
.help-page p.indent6{
    padding-left: 80px!important;
}
.help-page p.nmt{
    margin-top: 0!important;
}
.help-tip{
    padding:30px 12px;
    font-size: 16px;
    color: #5378F8;
    text-align: center;
    background: #E9EDFA;
    margin-top: 60px;
}

.help-page .help-anchor{
    width: auto;
    position: fixed;
    top: 130px;
    right: 20px;
    overflow: auto;
    background-color: transparent;
    border-left: 1px solid #ccc;
}
.help-page .help-anchor li{
    cursor: pointer;
    padding:2px 12px;
}
.help-page .help-anchor li:hover{
    background: #E9EDFA;
}
.help-page .help-anchor li.active{
    color: #5378F8;
}
.help-page .help-anchor li.indent{
    padding-left: 32px;
}
.help-page .report-page-title .alert-default{
    min-width: unset!important;
}

@media screen and (max-width: 1200px) { 
    .help-page .help-anchor {
      display: none;
    }
  }