<div class="add-delete-big-table-content" ng-init="InitPage()">
    <div id="{{theadControlId}}">
        <div ng-if="isShowTheadControl && !error" parent-id="{{theadControlId}}" class="thead-control thead-control-dire" is-reset="isResetTheadControl"
            data="allTableHeader" handle-thead-change="theadChange(arg)"></div>
    </div>

    <div class="tableListPanel" id="{{contentId}}">
        <div class="btn_options_filelist">
            <ul class="ul_left grid_filter_ul">
                <li>
                    <div ng-hide="error" class="grid-export" find-entity="pageFindEntity" export-location="exportLocationGOAnno" savefilename="{{tableDownloadName}}"></div>
                </li>
                <li>
                    <button class="btn btn-default btn-sm list_btn tool-tip btn-silver" title="刷新" ng-click="GetBigTableData(1)">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </li>
                <li>
                    <!-- tableid：对应列表的ID名称   callback：回调浏览页页面的方法信息，返回查询实体      -->
                    <!-- 2018年4月19日15:58:03 tablehead -->
                    <div ng-show="!error" class="grid-filter-begin" tablehead="bigTableData.baseThead" tableid="{{tableId}}" callback="InitFindEntity1(arg1)"
                        parentid="{{contentId}}" search-type="geneidCustomSearchType" geneidtruekey="geneid_truekey" search-one="geneidCustomSearchOne"
                        filter-status-callback="handlerFilterStatusChange(status)"></div>
                </li>
            </ul>
            <ul class="fRight">
                <li>
                    <div class="selector_normal" style="width: 120px;">
                        <select super-select ng-model="accuracy" class="form-control" is-search="false">
                            <option value=1>精度:1位小数</option>
                            <option value=2>精度:2位小数</option>
                            <option value=3>精度:3位小数</option>
                            <option value=4>精度:4位小数</option>
                            <option value=5>精度:5位小数</option>
                            <option value=6>精度:6位小数</option>
                            <option value=7>精度:7位小数</option>
                            <option value=-1>精度:全数据</option>
                        </select>
                    </div>
                </li>
                <li>
                    <!-- genelist panel  -->
                    <div id="{{unselectGenePanelId}}" class="dropdown dropdown_selectedlist" ng-class="{selectedlist_open:isShowGeneListPanel}"
                        ng-mouseenter="handlerMouseEnter()" ng-mouseleave="handlerMouseLeave()">
                        <button class="btn btn-default btn-silver btn-sm">
                            未选中GeneList
                            <span class="red">({{geneUnselectListLength}})</span>
                            <span class="icon-caret-down"></span>
                        </button>
                        <div class="dropdown-menu div_gn_droplist">
                            <div style="max-height:400px; overflow-y:auto; overflow-x:hidden;">
                                <table class="table table-bordered table-hover table-striped table_grid table-fixed" cellpadding="0" cellspacing="0" border="0">
                                    <thead>
                                        <tr>
                                            <th width="40"></th>
                                            <th style="width: 60px; text-align: center;">
                                                NO.
                                            </th>
                                            <th>{{geneid.name}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="geneUnselectListLength == 0">
                                            <td colspan="3" style="text-align:center;">
                                                暂无未选中列表
                                            </td>
                                        </tr>
                                        <tr ng-repeat="(key,val) in geneUnselectList track by $index">
                                            <td>
                                                <button ng-click="removeGeneItem(key)" type="button" class="btn btn-default btn-silver btn_tiny" style="margin-right: 0px;">
                                                    <span class="iconglyph icon-minus"></span>
                                                </button>
                                            </td>
                                            <td align="center" ng-bind="$index+1"></td>
                                            <td ng-bind="key"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="btnPanel" style="margin-top:10px; border-top:1px solid #ddd;" ng-show="geneUnselectListLength">
                                <button ng-click="handlerClearUnselect()" type="button" class="btn btn-default searchBtn btn-danger" style="margin-right: 0px;">清空</button>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- filter content -->
        <div class="div_filterContent" ng-init="filterText1=undefind" ng-class="{hide:(!filterText1.filterText.length && !filterText1.sortText)}">
            <div class="div_filterText" ng-show="filterText1.filterText.length">
                <span>筛选条件：</span>
                <div class="filter-right">
                    <!-- title="{{geneidCustomSearchOne}}"  -->
                    <span class="filter-content" ng-repeat="f in filterText1.filterText track by $index">
                        <span class="filter-item" ng-bind-html="f"></span>
                        <i class="icon icon-times-circle" ng-click="handleDelete($event)"></i>
                    </span>
                </div>
            </div>
            <div class="div_sortText" ng-show="filterText1.sortText">
                <span>排序条件：</span>
                <span class="sort-item" style="cursor:normal;" ng-bind-html="filterText1.sortText"></span>
            </div>
        </div>
        <!-- filter content over -->
        <!-- table wrap -->
        <div class="table_fixed_wrap">
            <div id="{{tableId}}">
                <!-- left table -->
                <div ng-hide="error" class="table_leftside">
                    <table class="table table-bordered table-hover table-striped table_grid table-fixed">
                        <thead>
                            <tr>
                                <!-- checkbox -->
                                <th style="width:40px;text-align:center;">
                                    <i ng-click="handlerCheckedAll()" class="icon choose-icon" ng-class="{'icon-eye-slash':!checkedAll,'icon-eye':checkedAll}"></i>
                                </th>
                                <!-- geneid -->
                                <th width="120">
                                    <div class="grid_head" uib-tooltip="{{geneid.hover}}" ng-class="{'thead-center':!isBeginFilter,'filter-thead-center':isBeginFilter}">{{geneid.name}}</div>
                                    <div class="grid_filter_panel" filtername="{{geneid.true_key}}" filternamezh="{{geneid.name}}" filtertype="{{geneid.searchType}}"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'unChecked':!val.isChecked}" ng-repeat="val in bigTableData.rows track by $index">
                                <td style="width:40px; text-align:center;">
                                    <i ng-click="handlerChecked($index,$event)" class="icon choose-icon" ng-class="{'icon-eye-slash':!val.isChecked,'icon-eye':val.isChecked,}"></i>
                                </td>
                                <td class="center nowrap popover-table" >
                                    <!-- gene_id || xxx_query_id -->
                                    <span ng-if="val.true_key==='gene_id' || val.true_key.indexOf('query_id')!=-1">
                                        <a href="../tools/index.html#/home/geneDetail/{{val[geneid.true_key]}}" target="_blank">{{val[geneid.true_key]}}</a>
                                    </span>
                                    <span ng-if="val.true_key!=='gene_id' && val.true_key.indexOf('query_id')==-1">{{val[geneid.true_key]}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- right table -->
                <div ng-hide="error" class="table_rightside">
                    <table class="table table-bordered table-hover table-striped table_grid table-fixed">
                        <thead>
                            <tr>
                                <!-- <th style="width: 60px; text-align: center;">NO.</th> -->
                                <th ng-style="{width:(item.name.length*10+84)+'px'}" ng-if="$index!=0 && item" ng-repeat="item in bigTableData.baseThead track by $index">
                                    <div uib-tooltip="{{item.hover}}" class="grid_head" ng-class="{'thead-center':!isBeginFilter,'filter-thead-center':isBeginFilter}">{{item.name}}</div>
                                    <div class="grid_filter_panel" filtername="{{item.true_key}}" filternamezh="{{item.name}}" filtertype="{{item.searchType}}"></div>
                                </th>
                        </thead>
                        <tbody ng-hide="error">
                            <tr ng-class="{'unChecked':!row.isChecked}" ng-repeat="row in bigTableData.rows track by $index">
                                <!-- Pathway Name -->
                                <td class="center nowrap popover-table" ng-if="val.true_key!==geneid.true_key && val.name==='Pathway Name'" ng-repeat="val in bigTableData.baseThead track by $index"
                                    thead-key="val.true_key" reanalysis-id="reanalysisId" my-title="row[val.true_key]" compare-group="compareGroup" method="method">
                                    <span ng-if="(row[val.true_key] || row[val.true_key]==0)">
                                        <a ng-repeat="item in row track by $index" ng-href="../tools/index.html#/home/mapId?map={{item.id}}&comparegroup={{pageFindEntity.compareGroup}}&method={{method}}"
                                            target="_blank">
                                            {{row[val.true_key]}}
                                        </a>
                                    </span>
                                    <!-- null -->
                                    <span ng-if="!row[val.true_key] && row[val.true_key]!=0">—</span>
                                </td>
                                <!-- 包含[]有go-->
                                <td class="center nowrap popover-table" ng-if="val.true_key!==geneid.true_key && val.name==='GO Term'" ng-repeat="val in bigTableData.baseThead track by $index"
                                    thead-key="val.true_key" my-title="row[val.true_key]">
                                    <span ng-if="(row[val.true_key] || row[val.true_key]==0)" ng-init="golist = row[val.true_key].split(';')">
                                        <a ng-repeat="item in golist track by $index" ng-href="http://amigo.geneontology.org/amigo/medial_search?q={{item.substring(item.indexOf(':')-2,item.indexOf('//'))}}"
                                            target="_blank">
                                            {{item}}
                                        </a>
                                    </span>
                                    <span ng-if="!row[val.true_key] && row[val.true_key]!=0">—</span>
                                </td>
                                <!-- 其他 -->
                                <td class="center nowrap popover-table" ng-if="val.true_key!==geneid.true_key && val.name!=='Pathway Name' && val.name!=='GO Term'"
                                    ng-repeat="val in bigTableData.baseThead track by $index" thead-key="val.true_key" my-title="row[val.true_key]">
                                    <!-- other -->
                                    <span ng-if="(row[val.true_key] || row[val.true_key]==0)">
                                        {{val.searchType==='string'?row[val.true_key]:(row[val.true_key] | accuracyFilter: accuracy)}}
                                    </span>
                                    <!-- null -->
                                    <span ng-if="!row[val.true_key] && row[val.true_key]!=0">—</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- error box -->
                <div class="table-nodata" error-type="error"></div>
            </div>
        </div>


        <!-- table bottom -->
        <div class="table-bottom" style="position:relative;">
            <div class="pager-grid" ng-hide="error" grid-data="bigTableData" side="left" callback="GetBigTableData(arg1)"></div>
            <ul ng-hide="error" class="bottom-pagesize">
                <li>
                    <div class="selector_normal" style="width: 110px;">
                        <select super-select ng-model="pageFindEntity.pageSize" class="form-control" is-search="false" ng-change="GetBigTableData(1)">
                            <option value="10">每页 10 条</option>
                            <option value="20">每页 20 条</option>
                            <option value="50">每页 50 条</option>
                            <option value="100">每页 100 条</option>
                        </select>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!-- table over -->
    <!-- reanalysis content -->
    <div ng-if="!error && isReanalysis" class="re-analysis" gene-count="geneCount" callback="handlerReanalysis(options)"></div>
</div>