<!-- <style type="text/css">
    .logo_big_bg {
        background-image: url(../../../res/images/logo_big_bg.jpg);
    }
</style> -->

<div class="view_topbar view_topbar">
    <div class="topbar_nav" ng-hide="isMangerSys">
        <!-- logo -->
        <a ng-if="env==='bgi'" href="JavaScript:;" ng-click="GoHome()" target="_self" class="topbar_logo"></a>
        <span ng-if="env==='bgi'" style="height:50px; display: inline-block;line-height: 50px; font-size: 24px; opacity: .4;" class="pull-left">|</span>
        <a ng-if="env==='bgi'" href="JavaScript:;" ng-click="GoHome()" target="_self" class="topbar_logo logo2 pull-left"></a>
        <a ng-if="env==='gooal'" href="JavaScript:;" ng-click="GoHome()" target="_self" class="topbar_logo gooal_logo"></a>
        <!-- welcome btns -->
        <div class="top-right">
            <div class="fRight hidden-xs" style="margin-left:20px; margin-top: 6px;">
                <div class="topbar_nav fLeft">
                    <a href="javascript:;" ng-click="myAnalysisClick()" class="topbar_btn">我的分析</a>
                </div>
                <!-- <div class="topbar_nav fLeft" style="border-right: 1px solid #E8E8E8;border-left: 1px solid #E8E8E8;">
                    <a href="JavaScript:;" class="topbar_btn" ng-click="GoHome()">首页</a>
                </div> -->
                <div class="topbar_nav fLeft" ng-if="!LCMC == ''">
                    <a href="javascript:;" ng-click="myFile_OnClick()" class="topbar_btn" ng-bind="LCMC">流程名称</a>
                </div>
                <div class="topbar_nav fLeft">
                    <a href="javascript:;" ng-click="ExportPDF()" class="topbar_btn">导出报告</a>
                </div>
                <div class="topbar_nav fLeft" ng-if="env === 'bgi'">
                    <a ng-href="http://cdts-wh.genomics.cn/" target="_blank" class="topbar_btn">下载数据</a>
                </div>
                <div class="topbar_nav fLeft">
                    <a class="topbar_btn" style="text-decoration: none;" href="../tools/index.html#/home/help" target="_blank">帮助</a>
                </div>
                <div class="topbar_nav fLeft" ng-mouseenter="loginOutShow = true" ng-mouseleave="loginOutShow = false" style="position: relative; padding-bottom:30px;">
                    <a style="text-decoration: none;font-size:18px;" class="topbar_btn iconfont icon-zhuxiao"></a>
                    <div class="userinfo-pop" ng-show="loginOutShow">
                        <span>项目编号：{{LCID}}</span>
                        <p ng-click="handlerLogout()" style="text-align: center;">
                            <span class="logout" >退出</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- admin -->
            <div class="hidden-xs fLeft">

                <!-- <div class="topbar_info">
                    <div id="topNav_UserInfo" class="topbar_nav fLeft dropdown" ng-class="{open:topHelp_IsOpen}">
                        <a href="JavaScript:;" class="topbar_btn " ng-class="{active:(topactiveindex==4)}">
                            <span class="glyphicon glyphicon-user" style="padding-right:8px"></span>欢迎您，
                            <span ng-bind="userInfoEntity.XM"></span>
                            <span class="glyphicon icon-arrow_triangle-down"></span>
                        </a>
                        <div class="dropdown_menu dropdown_menu_right topbar_nav_list topbar_clearfix">
                            <div class="topbar_dropdown_menu">
                                <ul>
                                    <li>
                                        <a href="JavaScript:;" onclick="window.location.href = '../login/login.html'">注销</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>


    </div>

    <!-- 手机菜单开始 -->
    <div class="top_nav_mobile visible-sm-block visible-xs-block">
        <div ng-click="topNav_Mobile_Toggle()" class="top_nav_mobile_btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav_list_mobile" ng-class="{onShow:topMobile_IsOpen}">
            <ul>
                <!--<li><a href="#/home" ng-click="topNav_Mobile_Toggle()">首页</a></li>
                  <li><a href="JavaScript:;" ng-click="topNav_Mobile_Toggle()">帮助与文档</a></li>-->
                <li>
                    <a href="JavaScript:;" onclick="window.location.href = '../login/login.html'">注销</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 手机菜单结束 -->


</div>