<div class="thead-control-wrap" ng-if="data.length">
    <div class="thead-control-top clearfix">
        <span class="add-column-btn" ng-click="toggleShow()"><i class="iconfont icon-guanbi" style="transform:rotate(45deg); margin-right:6px"></i> 扩展列
            <span ng-if="nodata">（暂无数据）</span>
        </span>
        <div ng-show="show">
            <span ng-show="allActive.length">已选择：</span>
            <div class="item-wrap">
                <ul class="clearfix">
                    <li ng-repeat="item in allActive" ng-init="computedWrapWidth()" >{{item._id}}&emsp;<i class="iconfont icon-guanbi addthead-guanbi" style="cursor:pointer;" ng-click="handlerItemClick(item,item.index)"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="show" ">
        <ul class="tab">
            <li ng-show="group.list.length" ng-repeat="(index,group) in data" ng-class="{active:currentIndex==$index}" track by $index
                ng-click="handlerTabClick($index)">{{group.groupName}}<span ng-if="allActiveItems[index].length" class="circle">{{allActiveItems[index].length}}</span></li>
        </ul>
        <div class="add-content" ng-init="initData()">
            <div ng-show="currentIndex==$index && group.list.length" ng-repeat="(index,group) in data" track by $index>
                <span ng-class="{active:item.isActive,disabled:remove}" ng-repeat="item in group.list" track by $index ng-click="handlerItemClick(item,index)">{{item._id}}</span>
            </div>
        </div>
        <!-- <div ng-init="initData()" class="thead-lists">
            <ol>
                <li ng-if="group.list.length" ng-repeat="(index,group) in data" track by $index>
                    <div class="thead-title" uib-tooltip="{{group.groupName}}">{{group.groupName}}</div>
                    <ul ng-class="{'showmore':group.isShowMore}">
                        <li ng-repeat="item in group.list" track by $index ng-class="{active:item.isActive,disabled:remove}" ng-click="handlerItemClick(item,index)">{{item._id}}</li>
                    </ul>
                    <div ng-click="handlerIsShowMoreClick($index)" ng-if="!group.isShowMore &&group.showMore" class="thead-title more">查看更多</div>
                    <div ng-click="handlerExpandClick($index)" ng-if="group.isShowMore && group.showMore " class="thead-title more">收起</div>
                </li>
            </ol>
        </div> -->

        <div ng-show="!nodata" class="thead-btns">
            <button class="nbtn nbtn-default" ng-click="cancel()">取消</button>
            <!-- <button class="btn btn-default" ng-click="apply()">应用</button> -->
            <button class="nbtn nbtn-default" ng-click="clear()">清除</button>
            <button class="nbtn nbtn-blue" ng-click="confirm()">确定</button>
        </div>
    </div>
</div>