<style type="text/css">
    .logo_big_bg {
        background-image: url(../../../res/images/logo_big_bg.jpg);
    }
</style>

<div class="view_topbar view_topbar">
    <div class="topbar_nav" ng-hide="isMangerSys">
        <!-- logo -->
        <!-- <a href="JavaScript:;" target="_self" class="topbar_logo" ng-class="{topbar_test_logo: isTest === -1}" style="width:230px;">
            <span ng-if="isTest === 0">GOOALGENE</span>
            <span ng-if="isTest === 1">IGENEBOOK</span>
        </a> -->
        <!-- welcome btns -->
        <div class="top-right">
            <div class="fRight hidden-xs" style="margin-left:20px;">
                <div class="topbar_nav fLeft" style="border-right: 1px solid #E8E8E8;border-left: 1px solid #E8E8E8;">
                    <a href="JavaScript:;" class="topbar_btn" ng-click="GoHome()">首页</a>
                </div>
                <div class="topbar_nav fLeft" ng-if="!LCMC == ''" style="border-right: 1px solid #E8E8E8">
                    <a href="javascript:;" ng-click="myFile_OnClick()" class="topbar_btn" ng-bind="LCMC">流程名称</a>
                </div>
                <div class="topbar_nav fLeft" style="border-right: 1px solid #E8E8E8">
                    <a href="javascript:;" ng-click="ExportPDF()" class="topbar_btn">导出报告</a>
                </div>
                <div class="topbar_nav fLeft" style="border-right: 1px solid #E8E8E8">
                    <a ng-href="../../report/report_{{LCID}}/report.zip" class="topbar_btn">下载数据</a>
                </div>
            </div>
            <!-- admin -->
            <div class="hidden-xs fLeft">
                <div class="topbar_nav fLeft" style="border-right: 1px solid #E8E8E8">
                    <a href="javascript:;" ng-click="myAnalysisClick()" class="topbar_btn">我的分析</a>
                </div>
                <!-- <div class="topbar_info">
                    <div id="topNav_UserInfo" class="topbar_nav fLeft dropdown" ng-class="{open:topHelp_IsOpen}">
                        <a href="JavaScript:;" class="topbar_btn " ng-class="{active:(topactiveindex==4)}">
                            <span class="glyphicon glyphicon-user" style="padding-right:8px"></span>欢迎您，
                            <span ng-bind="userInfoEntity.XM"></span>
                            <span class="glyphicon icon-arrow_triangle-down"></span>
                        </a>
                        <div class="dropdown_menu dropdown_menu_right topbar_nav_list topbar_clearfix">
                            <div class="topbar_dropdown_menu">
                                <ul>
                                    <li>
                                        <a href="JavaScript:;" onclick="window.location.href = '../login/login.html'">注销</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>


    </div>

    <!-- 手机菜单开始 -->
    <div class="top_nav_mobile visible-sm-block visible-xs-block">
        <div ng-click="topNav_Mobile_Toggle()" class="top_nav_mobile_btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav_list_mobile" ng-class="{onShow:topMobile_IsOpen}">
            <ul>
                <!--<li><a href="#/home" ng-click="topNav_Mobile_Toggle()">首页</a></li>
                  <li><a href="JavaScript:;" ng-click="topNav_Mobile_Toggle()">帮助与文档</a></li>-->
                <li>
                    <a href="JavaScript:;" onclick="window.location.href = '../login/login.html'">注销</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 手机菜单结束 -->


</div>