<div id="{{contentId}}" ng-init="InitPage()">
    <div class="bs-examples">
        <div class="graph_group" id="{{panelId}}">
            <div class="graph_header">
                <ul class="fLeft">
                    <li>
                        <div class="graph-view-btn" parentid="{{panelId}}" charpanelid="{{chartId}}" is-table="true" is-table-show="isTableShow"
                            btn-one-callback="" btn-two-callback=""></div>
                    </li>
                    <li ng-if="showSelect && selectList.length">
                        <div class="selector_area">
                            <select class="super-select" style="width: 200px" ng-model="pageEntity[paramsKey]" ng-change="handlerSelectChange()">
                                <option value="{{key?item[key]:item}}" ng-repeat="item in selectList track by $index">{{key?item[key]:item}}</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <ul class="fRight">
                    <li ng-if="!linksError && isShowBeforeTask">
                        <button style="position:relative;" class="btn btn-default btn-sm btn-silver list_btn">前置任务
                            <span style="color:red;">({{links.length}})</span>
                            <div class="links btn-links" style="color:#333;">
                                <ul ng-if="links.length" class="link-lists">
                                    <li ng-click="handlerSeeClick(item)" ng-repeat="item in links">
                                        <p>类型：{{item.chartType}}</p>
                                        <p>项目名称：{{item.projectName}}</p>
                                    </li>
                                </ul>
                            </div>
                        </button>
                    </li>
                    <li ng-show="!isTableShow && isSelectChartData && !onlySingle && !error">
                        <button ng-show="!single" ng-click="handlerSingle()" class="btn btn-sm btn-silver btn-default tool-tip" title="单选">单选</button>
                        <button style="margin-right:12px;" ng-if="single" ng-click="handlerMultiple()" class="btn btn-sm btn-silver btn-default tool-tip"
                            title="多选">多选</button>
                        <button ng-show="!single" ng-click="handlerConfirm()" class="btn btn-sm btn-silver btn-default tool-tip" title="确定所有选择">确定</button>
                    </li>
                    <!-- 精度 -->
                    <li ng-show="isTableShow && showAccuracy">
                        <div class="selector_normal" style="width: 120px;">
                            <select super-select ng-model="accuracy" class="form-control" is-search="false">
                                <option value=1>精度:1位小数</option>
                                <option value=2>精度:2位小数</option>
                                <option value=3>精度:3位小数</option>
                                <option value=4>精度:4位小数</option>
                                <option value=5>精度:5位小数</option>
                                <option value=6>精度:6位小数</option>
                                <option value=7>精度:7位小数</option>
                                <option value=-1>精度:全数据</option>
                            </select>
                        </div>
                    </li>
                    <!-- 刷新 -->
                    <li>
                        <button class="btn btn-default btn-silver btn-sm tool-tip" title="刷新" ng-click="handlerRefresh()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </li>
                    <!-- 表格导出 -->
                    <li ng-show="isTableShow">
                        <div ng-hide="error" class="grid-export" find-entity="pageEntity" export-location="url" savefilename="{{tableDownloadName}}"></div>
                    </li>
                    <!-- 图片导出 -->
                    <li ng-show="!isTableShow">
                        <div ng-hide="error" class="svg-new-export" chartid="{{chartId}}" saveimgname="{{chartDownloadName}}"></div>
                    </li>
                </ul>
            </div>

            <!-- table -->
            <div class="tab-switch-excel" ng-show="isTableShow">
                <!-- <div class="tableListPanel"> -->
                <div class="table_scroll_wrap">
                    <table ng-hide="error" class="table table-bordered table-hover table-striped table_grid table-fixed">
                        <thead>
                            <tr>
                                <th style="width: 60px; text-align: center;">NO.</th>
                                <th ng-style="{width:(item.name.length*10+40)+'px'}" ng-repeat="item in tableData.baseThead track by $index" style="max-width:500px;white-space:nowrap;">
                                    <div uib-tooltip="{{item.hover}}" class="grid_head thead-center">{{::item.name}}</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in tableData.rows track by $index">
                                <td class="center">{{::($index+1)}}</td>
                                <td class="center nowrap" title="{{(val.searchType==='string' || !showAccuracy )?(row[val.true_key]):(row[val.true_key] | accuracyFilter: accuracy)}}"
                                    ng-repeat="val in tableData.baseThead track by $index">
                                    <span ng-if="row[val.true_key] || row[val.true_key]==0">{{val.searchType==='string'?row[val.true_key]:(row[val.true_key] | accuracyFilter: accuracy)}}</span>
                                    <span ng-if="!row[val.true_key] && row[val.true_key]!=0">—</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-nodata" error-type="error"></div>
                </div>
                <!-- </div> -->
            </div>
            <!-- chart -->
            <div class="tab-switch-chart" ng-hide="isTableShow">
                <div class="chart_wrap" ng-hide="error">
                    <div class="chart_graph" id="{{chartId}}"></div>
                </div>
                <div class="table-nodata" error-type="error"></div>
            </div>
        </div>
    </div>
</div>