<div class="add-delete-big-table-content" ng-init="InitPage()">
    <div id="{{theadControlId}}">
        <div ng-if="isShowTheadControl && !error" parent-id="{{theadControlId}}" class="thead-control thead-control-dire" is-reset="isResetTheadControl"
            data="allTableHeader" handle-thead-change="theadChange(arg)"></div>
    </div>

    <div class="tableListPanel" id="{{contentId}}">
        <div class="btn_options_filelist">
            <ul class="ul_left grid_filter_ul">
                <li>
                    <!-- tableid：对应列表的ID名称   callback：回调浏览页页面的方法信息，返回查询实体      -->
                    <!-- 2018年4月19日15:58:03 tablehead -->
                    <div class="grid-filter-begin" tablehead="bigTableData.baseThead" tableid="{{tableId}}" callback="InitFindEntity1(arg1)"
                        parentid="{{contentId}}" search-type="geneidCustomSearchType" geneidtruekey="geneid_truekey" search-one="geneidCustomSearchOne"
                        filter-status-callback="handlerFilterStatusChange(status)"></div>
                </li>
            </ul>
            <ul class="fRight">
                <li>
                    <div class="selector_normal" style="width: 120px;">
                        <select super-select ng-model="accuracy" class="form-control" is-search="false">
                            <option value=1>精度:1位小数</option>
                            <option value=2>精度:2位小数</option>
                            <option value=3>精度:3位小数</option>
                            <option value=4>精度:4位小数</option>
                            <option value=5>精度:5位小数</option>
                            <option value=6>精度:6位小数</option>
                            <option value=7>精度:7位小数</option>
                            <option value=-1>精度:全数据</option>
                        </select>
                    </div>
                </li>
                <li>
                    <!-- genelist panel  -->
                    <div id="{{unselectGenePanelId}}" class="dropdown dropdown_selectedlist" ng-class="{selectedlist_open:isShowGeneListPanel}"
                        ng-mouseenter="handlerMouseEnter()" ng-mouseleave="handlerMouseLeave()">
                        <button class="btn btn-default btn-silver btn-sm btn-genelist">
                            未选中GeneList
                            <span class="red">({{geneUnselectListLength}})</span>
                            <span class="icon-caret-down"></span>
                        </button>
                        <div class="dropdown-menu div_gn_droplist">
                            <div style="max-height:400px; overflow-y:auto; overflow-x:hidden;">
                                <dl ng-show="geneUnselectListLength">
                                    <dt>Gene ID</dt>
                                    <dd ng-repeat="(key,val) in geneUnselectList track by $index">
                                        <i ng-click="removeGeneItem(key)" class="custom-icon"></i>{{key}}</dd>
                                </dl>
                                <span ng-show="!geneUnselectListLength">暂无数据</span>
                            </div>
                            <div class="btnPanel" style=" border-top:1px solid #ddd;" ng-show="geneUnselectListLength">
                                <button ng-click="handlerClearUnselect()" type="button" class="nbtn nbtn-default searchBtn" style="margin-right: 0px;margin-top: 10px;">清空</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <button class="new-table-switch-btns noborder tool-tip" title="刷新" ng-click="GetBigTableData(1)">
                        <span class="iconfont icon-shuaxin"></span>
                    </button>
                </li>
                <li>
                    <div ng-hide="error" class="grid-export" find-entity="pageEntity" export-location="exportLocationGOAnno" varfilename="tableDownloadName"></div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- filter content -->
        <div class="div_filterContent" ng-init="filterText1=undefind" ng-class="{hide:(!filterText1.filterText.length && !filterText1.sortText)}">
            <div class="div_filterText" ng-show="filterText1.filterText.length">
                <span>筛选条件：</span>
                <div class="filter-right">
                    <!-- title="{{geneidCustomSearchOne}}"  -->
                    <span class="filter-content" ng-repeat="f in filterText1.filterText track by $index">
                        <span class="filter-item" ng-bind-html="f"></span>
                        <i class="icon icon-times-circle" ng-click="handleDelete($event)"></i>
                    </span>
                </div>
            </div>
            <div class="div_sortText" ng-show="filterText1.sortText">
                <span>排序条件：</span>
                <span class="sort-item" style="cursor:normal;" ng-bind-html="filterText1.sortText"></span>
            </div>
        </div>
        <!-- filter content over -->
        <!-- table wrap -->
        <div class="table_fixed_wrap">
            <div id="{{tableId}}">
                <!-- left table -->
                <div ng-hide="error" class="table_leftside">
                    <table class="table table-bordered table-hover table-striped table_grid table-fixed">
                        <thead>
                            <tr>
                                <!-- checkbox -->
                                <th style="width:40px;text-align:center;">
                                    <i ng-click="handlerCheckedAll()" class="iconfont choose-icon" ng-class="{'icon-buxianshi':!checkedAll,'icon-xianshi1':checkedAll}"></i>
                                </th>
                                <!-- geneid -->
                                <th width="120">
                                    <div class="grid_head" uib-tooltip="{{geneid.hover}}" ng-class="{'thead-center':!isBeginFilter,'filter-thead-center':isBeginFilter}">{{geneid.name}}</div>
                                    <div class="grid_filter_panel" filtername="{{geneid.true_key}}" filternamezh="{{geneid.name}}" filtertype="{{geneid.searchType}}"></div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class="{'unChecked':!val.isChecked}" ng-repeat="val in bigTableData.rows track by $index">
                                <td style="width:40px; text-align:center;">
                                    <i ng-click="handlerChecked($index,$event)" class="iconfont choose-icon" ng-class="{'icon-buxianshi':!val.isChecked,'icon-xianshi1':val.isChecked,}"></i>
                                </td>
                                <td class="center nowrap popover-table" thead-key="geneid.true_key" data-row="{{val}}" data-title="{{val[geneid.true_key]}}">
                                    <!-- gene_id || xxx_query_id -->
                                    <span ng-if="val.true_key==='gene_id' || val.true_key.indexOf('query_id')!=-1">
                                        <a ng-href="../tools/index.html#/home/geneDetail/{{val[geneid.true_key]}}" target="_blank">{{val[geneid.true_key]}}</a>
                                    </span>
                                    <span ng-if="val.true_key!=='gene_id' && val.true_key.indexOf('query_id')==-1">{{val[geneid.true_key]}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- right table -->
                <div ng-hide="error" class="table_rightside">
                    <table class="table table-bordered table-hover table-striped table_grid table-fixed">
                        <thead>
                            <tr>
                                <!-- <th style="width: 60px; text-align: center;">NO.</th> -->
                                <th ng-style="{width:(item.name.length*10+84)+'px'}" ng-if="$index!=0 && item && item.true_key!=='tf_db_link'" ng-repeat="item in bigTableData.baseThead track by $index">
                                    <div uib-tooltip="{{item.hover}}" class="grid_head" ng-class="{'thead-center':!isBeginFilter,'filter-thead-center':isBeginFilter}">{{item.name}}</div>
                                    <div class="grid_filter_panel" filtername="{{item.true_key}}" filternamezh="{{item.name}}" filtertype="{{item.searchType}}"></div>
                                </th>
                        </thead>
                        <tbody ng-hide="error">
                            <tr ng-class="{'unChecked':!row.isChecked}" ng-repeat="row in bigTableData.rows track by $index">
                                <td class="center nowrap popover-table" ng-if="val.true_key!==geneid.true_key && val.true_key!=='tf_db_link'" ng-repeat="val in bigTableData.baseThead track by $index"
                                    thead-key="val.true_key" data-row="{{row}}" data-title="{{row[val.true_key]}}" reanalysis-id="reanalysisId"
                                    compare-group="compareGroup" method="method">
                                    <!-- 其他 -->
                                    <span ng-if="val.true_key!=='kegg_subject_annotation' && val.true_key!=='desc_kegg' && val.true_key!=='kegg_desc' && val.true_key!=='kegg_term_mix' && val.true_key!=='kegg_term_mix_tools' && val.true_key!=='kegg_term_id' && val.true_key.indexOf('kegg_term_mix_')==-1 && val.true_key!=='desc_go' && val.true_key!=='go_desc' && val.true_key!=='go_subject_annotation' && val.true_key!=='go_term_mix' && val.true_key!=='go_term_mix_tools' && val.true_key.indexOf('go_term_mix_')==-1 && val.true_key!=='go_term_id' && val.true_key!=='tf_family'">
                                        <span ng-if="(row[val.true_key] || row[val.true_key]==0)">
                                            {{val.searchType==='double'?(row[val.true_key] | accuracyFilter: accuracy):row[val.true_key]}}
                                        </span>
                                        <span ng-if="!row[val.true_key] && row[val.true_key]!=0">—</span>
                                    </span>
                                    <!-- kegg_subject_annotation
                                         desc_kegg 
                                         kegg_desc 
                                         kegg_term_mix 
                                         kegg_term_mix_tools 
                                         kegg_term_id kegg_term_mix_id(123516Bcaplpslwq) 
                                         desc_go 
                                         go_desc 
                                         go_subject_annotation 
                                         go_term_mix 
                                         go_term_mix_tools
                                         go_term_id
                                         tf_family
                                    -->
                                    <span ng-if="val.true_key==='kegg_subject_annotation' || val.true_key==='desc_kegg' || val.true_key==='kegg_desc' || val.true_key==='kegg_term_mix' || val.true_key==='kegg_term_mix_tools' || val.true_key==='kegg_term_id' || val.true_key.indexOf('kegg_term_mix_')!=-1 || val.true_key==='desc_go' || val.true_key==='go_desc' || val.true_key==='go_subject_annotation' || val.true_key==='go_term_mix' || val.true_key==='go_term_mix_tools' || val.true_key.indexOf('go_term_mix_')!=-1 || val.true_key==='go_term_id' || val.true_key==='tf_family'">
                                        <span ng-if="(row[val.true_key] || row[val.true_key]==0)" ng-bind-html="row[val.true_key] | orderTheadToAnchor:val.true_key:compareGroup:method:reanalysisId:row"></span>
                                        <span ng-if="!row[val.true_key] && row[val.true_key]!=0">—</span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- error box -->
                <div class="table-nodata" error-type="error"></div>
            </div>
        </div>


        <!-- table bottom -->
        <div class="table-bottom" ng-hide="!bigTableData.rows.length" style="position:relative;">
            <div class="pager-grid" ng-hide="error " grid-data="bigTableData" side="left" callback="GetBigTableData(arg1)"></div>
            <ul ng-hide="error" class="bottom-pagesize">
                <li>
                    <div class="selector_normal" style="width: 110px;">
                        <select super-select ng-model="pageEntity.pageSize" class="form-control" is-search="false" ng-change="GetBigTableData(1)">
                            <option value="10">每页 10 条</option>
                            <option value="20">每页 20 条</option>
                            <option value="50">每页 50 条</option>
                            <option value="100">每页 100 条</option>
                        </select>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- reanalysis content -->
        <div ng-if="!error && isReanalysis" class="re-analysis" gene-count="geneCount" callback="handlerReanalysis(options)"></div>
    </div>
    <!-- table over -->
</div>