<div class="tableListPanel" id="{{panelId}}" ng-init="InitPage()">
    <div class="btn_options_filelist">
        <ul class="ul_left grid_filter_ul">
            <li ng-show="!error">
                <div class="grid-filter-begin" tableid="{{tablePanelId}}" callback="InitFindEntity(arg1)" parentid="{{panelId}}"
                    filter-status-callback="handlerFilterStatusChange(status)"></div>
            </li>
            <li ng-show="showReset">
                <button class="new-table-switch-btns noborder tool-tip" title="重置" ng-click="resetTable()">
                    <span class="iconfont icon-zhongzhi1"></span>
                </button>
            </li>
            <li ng-if="showSelect">
                <div class="selector_area">
                    <select class="super-select" style="width: 200px" ng-model="pageEntity[paramsKey]" ng-change="GetTableData(1)">
                        <option value="{{key?item[key]:item}}" ng-repeat="item in selectList track by $index">{{key?item[key]:item}}</option>
                    </select>
                </div>
            </li>
        </ul>
        <ul class="fRight">
            <li ng-show="showAccuracy">
                <div class="selector_normal" style="width: 120px;">
                    <select super-select ng-model="accuracy" class="form-control" is-search="false">
                        <option value=1>精度:1位小数</option>
                        <option value=2>精度:2位小数</option>
                        <option value=3>精度:3位小数</option>
                        <option value=4>精度:4位小数</option>
                        <option value=5>精度:5位小数</option>
                        <option value=6>精度:6位小数</option>
                        <option value=7>精度:7位小数</option>
                        <option value=-1>精度:全数据</option>
                    </select>
                </div>
            </li>
            <li>
                <button class="new-table-switch-btns noborder tool-tip" title="刷新" ng-click="GetTableData(1)">
                    <span class="iconfont icon-shuaxin"></span>
                </button>
            </li>
            <li>
                <div ng-hide="error" class="grid-export" find-entity="pageEntity" export-location="url" savefilename="{{tableDownloadName}}"></div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <!-- filter content -->
    <div class="div_filterContent" ng-init="filterText1=undefind" ng-class="{hide:(!filterText1.filterText.length && !filterText1.sortText)}">
        <div class="div_filterText" ng-show="filterText1.filterText.length">
            <span>筛选条件：</span>
            <div class="filter-right">
                <!-- title="{{geneidCustomSearchOne}}" -->
                <span class="filter-content" ng-repeat="f in filterText1.filterText track by $index">
                    <span class="filter-item" ng-bind-html="f"></span>
                    <i class="icon icon-times-circle" ng-click="handleDelete($event)"></i>
                </span>
            </div>
        </div>
        <div class="div_sortText" ng-show="filterText1.sortText">
            <span>排序条件：</span>
            <span class="sort-item" style="cursor:normal;" ng-bind-html="filterText1.sortText"></span>
        </div>
    </div>
    <!-- table wrap -->
    <div class="table_scroll_wrap" style="max-height: 600px;">
        <div id="{{tablePanelId}}">
            <div ng-hide="error">
                <table class="table table-bordered table-hover table-striped table_grid table-fixed">
                    <thead>
                        <tr>
                            <th style="width: 60px; text-align: center;">NO.</th>
                            <th ng-style="{width:(item.name.length*10+84)+'px'}" ng-repeat="item in tableData.baseThead track by $index"
                                style="max-width:500px;white-space:nowrap;">
                                <div uib-tooltip="{{item.hover}}" class="grid_head" ng-class="{'thead-center':!isBeginFilter,'filter-thead-center':isBeginFilter}">{{item.name}}</div>
                                <div class="grid_filter_panel" filtername="{{item.true_key}}" filternamezh="{{item.name}}"
                                    filtertype="{{item.searchType}}"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-hide="error">
                        <tr ng-repeat="row in tableData.rows track by $index">
                            <td class="center">{{(pageEntity.pageNum-1)*pageEntity.pageSize+($index+1)}}</td>
                            <!-- title="{{val.searchType==='double'?(row[val.true_key] | accuracyFilter: accuracy):(val.searchType==='int'?(row[val.true_key] | number):row[val.true_key])}}" -->
                            <td class="center nowrap popover-table" ng-repeat="val in tableData.baseThead track by $index"
                                thead-key="val.name" data-title="{{row[val.true_key]}}">
                                <span ng-if="row[val.true_key] || row[val.true_key]==0">
                                    <a ng-if="val.true_key==='gene_id' || val.true_key.indexOf('_query_id')!=-1 "
                                        ng-href="../tools/index.html#/home/geneDetail/{{row[val.true_key]}}" target="_blank">{{val.searchType==='int'?(row[val.true_key]
                                        | number):row[val.true_key]}}</a>
                                    <span ng-if="val.true_key!=='gene_id' && val.true_key.indexOf('_query_id')==-1 ">{{val.searchType==='double'?(row[val.true_key]
                                        | accuracyFilter: accuracy):(val.searchType==='int'?(row[val.true_key] |
                                        number):row[val.true_key])}}</span>
                                </span>
                                <span ng-if="row[val.true_key]== '' || (!row[val.true_key] && row[val.true_key]!=0) || !row[val.true_key]">—</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- error box -->
            <div class="table-nodata" error-type="error"></div>
        </div>
    </div>
    <!-- table bottom -->
    <div class="table-bottom" style="position:relative;">
        <div class="pager-grid" ng-hide="error" grid-data="tableData" side="left" callback="GetTableData(arg1)"></div>
        <ul ng-hide="error" class="bottom-pagesize">
            <li>
                <div class="selector_normal" style="width: 110px;">
                    <select super-select ng-model="pageEntity.pageSize" class="form-control" is-search="false"
                        ng-change="GetTableData(1)">
                        <option value="10">每页 10 条</option>
                        <option value="20">每页 20 条</option>
                        <option value="50">每页 50 条</option>
                        <option value="100">每页 100 条</option>
                    </select>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <!-- reanalysis -->
    <div ng-if="!error && isReanalysis" class="re-analysis" gene-count="geneCount" callback="handlerReanalysis(options)"></div>
</div>