<div id="{{panelId}}" ng-init="InitPage()" class="tableListPanel">
    <div class="btn_options_filelist clearfix">
        <ul class="fLeft">
            <li ng-show="isHasSelectOption">
                <div class="selector_area">
                    <select class="super-select" style="width: 200px" ng-model="selectModel" ng-change="GetTableData()">
                        <option value="{{item}}" ng-repeat="item in selectOptionList track by $index">{{item}}</option>
                    </select>
                </div>
            </li>
        </ul>
        <ul class="fRight">
            <li ng-show="isHasAccuracy">
                <div class="selector_normal" style="width: 120px;">
                    <select super-select ng-model="accuracy" class="form-control" is-search="false">
                        <option value=1>精度:1位小数</option>
                        <option value=2>精度:2位小数</option>
                        <option value=3>精度:3位小数</option>
                        <option value=4>精度:4位小数</option>
                        <option value=5>精度:5位小数</option>
                        <option value=6>精度:6位小数</option>
                        <option value=7>精度:7位小数</option>
                        <option value=-1>精度:全数据</option>
                    </select>
                </div>
            </li>
            <li>
                <div ng-hide="error" class="grid-export" find-entity="pageEntity" export-location="url" savefilename="{{tableDownloadName}}"></div>
            </li>
            <li>
                <button class="btn btn-default btn-sm list_btn tool-tip btn-silver" title="刷新" ng-click="GetTableData()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </li>
        </ul>
    </div>
    <div class="table_scroll_wrap" ng-hide="error">
        <div id="{{tablePanelId}}">
            <table ng-hide="error" class="table table-bordered table-hover table-striped table_grid table-fixed">
                <thead>
                    <tr>
                        <th ng-repeat="item in tableData.baseThead track by $index" style="max-width:500px;white-space:nowrap;">
                            <div uib-tooltip="{{item.hover}}" class="grid_head thead-center">{{::item.name}}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in tableData.rows track by $index">
                        <td class="center" ng-repeat="val in tableData.baseThead track by $index">{{(val.searchType==='string' && !isHasAccuracy)?row[val.true_key]:(row[val.true_key] | accuracyFilter: accuracy)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>