<div class="report_view_leftside leftside_mousewheel" ng-class="{zmax:$scope.isLeftsideHover}" ng-init="$scope.isLeftsideHover=false">
    <!-- 显示/隐藏 -->
    <!-- <div class="sidebar_fold" ng-click="sidebarFold_OnClick()">
        <span class="glyphicon glyphicon-menu-hamburger" style="cursor:pointer;" title="显示/隐藏">
        </span>
    </div> -->
    <!-- 显示隐藏 -->
    <div class="expand-icon" ng-class="{'unexpand':!isViewFull}">
        <img ng-show="isViewFull" ng-click="sidebarFold_OnClick()" src="../../res/images/icon/expand.png" />
        <img ng-show="!isViewFull" ng-click="sidebarFold_OnClick()" src="../../res/images/icon/unexpand.png" />
    </div>
    <!-- 左侧菜单开始 ng-class="{hideContent:navConfig.product.folded}"  ng-class="{sidebar_nav_fold:!navConfig.product.folded}" ng-mouseenter="leftTree_OnMouseover($index);"
                ng-mouseleave="leftTree_OnMouseleave($index);"-->
    <div class="sidebar_frame">
        <div class="sidebar_group">
            <div class="sidebar_nav sidebar_nav_{{$index}}" id="{{leftList.GNSID}}" ng-repeat="leftList in leftDataJson | filter:{JDPID:'-1'} track by $index">

                <!-- root left nav start -->
                <div id="leftlist_wrap">
                    <div id="div_{{leftList.GNSID}}" class="sidebar_title" ng-class="{active:leftList.isExpand,sidebar_nav_fold:leftList.folded}" ng-click="isExpand(leftList,$index)">
                        <!-- 收起时候的二级菜单 -->
                        <ul ng-show="!isViewFull" class="un_expand">
                            <li ng-repeat="item in twoList track by $index" ng-class="{isActive:item.isActive}" ng-mouseenter="handlerMouseEnter(item)" ng-mouseleave="handlerMouseLeave(item)" ng-click="handlerTwoClick(item)" id="li_{{item.GNSID}}">
                                {{item.JDMC}}
                            </li>
                        </ul>
                        <!-- icons -->
                        <span ng-show="!isViewFull" style="float:left;" class="menuicon {{leftList.icon_class}}" ng-class="{active:leftList.isExpand}"></span>

                        <!-- <span style="margin-left:5px;float:left">{{leftList.TBTEXT}}</span> -->
                        <span ng-show="isViewFull" class="sidebar-title-text">
                            <span class="menuicon {{leftList.icon_class}}" ng-class="{active:leftList.isExpand}"></span>
                        <span style="float:left">{{leftList.JDMC}}</span>
                        <span style="float:left;position: absolute;right:3px;top:-27px;z-index:1" ng-if="!leftList.ISREPORT">
                                <span class="timer"></span>
                        </span>
                        </span>
                        <!-- arrows -->
                        <!-- 'icon-caret-down':!leftList.isExpand, -->
                        <span ng-show="isViewFull" class="glyphicon" ng-class="{'icon-caret-left':leftList.isExpand}" ng-if="leftList.ISTBLJ">
                            <span class="sidebar-manage ng-scope">
                            </span>
                        </span>
                    </div>
                    <div ng-show="isViewFull" class="sidebar_nav_two" ng-init="twoList = (leftDataJson |  checkPidFilter : leftList.GNSID)">
                        <!-- 二级 isViewFull -->
                        <ol>
                            <!-- ng-click="li_OnClick(item,list)" -->
                            <li ng-repeat="item in twoList track by $index" class="sidebar_nav_two_item" ng-class="{isActive:item.isActive}" ng-mouseenter="handlerMouseEnter(item)" ng-mouseleave="handlerMouseLeave(item)" ng-click="handlerTwoClick(item)" id="li_{{item.GNSID}}">
                                {{($index+1)+'. '+item.JDMC}}
                                <!-- 三级  -->
                                <ul class="sidebar_nav_pop" ng-mouseenter="handlerThreeMouseEnter()" ng-show="item.showPop && threeList.length" ng-init="threeList = (leftDataJson | checkPidFilter : item.GNSID)">
                                    <li ng-click="handlerPopClick(popitem,$event)" ng-class="{isActive:popitem.isActive}" ng-repeat="popitem in threeList track by $index">{{($index+1)+'. '+popitem.JDMC}}</li>
                                </ul>
                            </li>

                        </ol>
                    </div>
                </div>


                <!-- <div ng-if="false" ng-init="itemList=(leftDataJson | checkPidFilter : leftList.GNSID)">
                    <ul id="ul_{{leftList.GNSID}}" ng-if="itemList.length > 0" ng-init="itemList.showUL=true" ng-show="itemList.showUL">
                        <li class="nav_item nav_item_title">{{leftList.JDMC}}</li>
                        <li class="nav_item " ng-repeat="item in itemList" ng-class="{active:item.isActive}" id="{{item.GNSID}}" ng-mouseover="$scope.isLeftsideHover = true"
                            ng-mouseleave="$scope.isLeftsideHover = false">
                            <a href="JavaScript:;" ng-click="li_OnClick(item,itemList)">
                                <div class="nav_icon">
                                    <span>{{$index+1}}</span>
                                </div>
                                <span class="nav_title">
                                    {{item.JDMC}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div> -->
                <!-- sidebar_trans -->
            </div>
        </div>
    </div>
    <!-- 左侧菜单结束 -->
</div>